In [1]:
import sqlite3

In [6]:
conn = sqlite3.connect("petsdb")

In [7]:
def is_opened(conn):
    try:
        conn.execute("SELECT * FROM persons LIMIT 1")
        return True
    except sqlite3.ProgrammingError as e:
        print("Connection closed {}".format(e))
        return False
print(is_opened(conn))

True

In [8]:
conn.close()

In [9]:
print(is_opened(conn))

Connection closed Cannot operate on a closed database.
False

In [10]:
conn = sqlite3.connect("petsdb")
c = conn.cursor()

In [13]:
for ppl, age in c.execute("SELECT count(*), age FROM persons GROUP BY age"):
    print("There are {} people aged {}".format(ppl, age))

There are 2 people aged 5
There are 1 people aged 6
There are 1 people aged 7
There are 3 people aged 8
There are 1 people aged 9
There are 2 people aged 11
There are 3 people aged 12
There are 1 people aged 13
There are 4 people aged 14
There are 2 people aged 16
There are 2 people aged 17
There are 3 people aged 18
There are 1 people aged 19
There are 3 people aged 22
There are 2 people aged 23
There are 3 people aged 24
There are 2 people aged 25
There are 1 people aged 27
There are 1 people aged 30
There are 3 people aged 31
There are 1 people aged 32
There are 1 people aged 33
There are 2 people aged 34
There are 3 people aged 35
There are 3 people aged 36
There are 1 people aged 37
There are 2 people aged 39
There are 1 people aged 40
There are 1 people aged 42
There are 2 people aged 44
There are 2 people aged 48
There are 1 people aged 49
There are 1 people aged 50
There are 2 people aged 51
There are 2 people aged 52
There are 2 people aged 53
There are 2 people aged 54
There are 1 people aged 58
There are 1 people aged 59
There are 1 people aged 60
There are 1 people aged 61
There are 2 people aged 62
There are 1 people aged 63
There are 2 people aged 65
There are 2 people aged 66
There are 1 people aged 67
There are 3 people aged 68
There are 1 people aged 69
There are 1 people aged 70
There are 4 people aged 71
There are 1 people aged 72
There are 5 people aged 73
There are 3 people aged 74

In [26]:
for pplCnt, ageGroup in c.execute("SELECT count(*), age FROM persons GROUP BY age ORDER BY count(*) DESC"):
    print("AgeGroup - {} - Count of People - {}".format(ageGroup,pplCnt))
    break

AgeGroup - 73 - Count of People - 5

In [28]:
for result in c.execute("SELECT count(*) FROM persons where last_name is null"):
    print("People Count with No Last Name - ",result)
    break
# First name of people with no last name
for result in c.execute("SELECT first_name FROM persons where last_name is null"):
    print("First Names of people with No Last Name - ",result)

People Count with No Last Name -  (60,)
First Names of people with No Last Name -  ('Erica',)
First Names of people with No Last Name -  ('Jordi',)
First Names of people with No Last Name -  ('Chasity',)
First Names of people with No Last Name -  ('Gregg',)
First Names of people with No Last Name -  ('Cary',)
First Names of people with No Last Name -  ('Francisca',)
First Names of people with No Last Name -  ('Raleigh',)
First Names of people with No Last Name -  ('Maria',)
First Names of people with No Last Name -  ('Mariane',)
First Names of people with No Last Name -  ('Mona',)
First Names of people with No Last Name -  ('Kayla',)
First Names of people with No Last Name -  ('Karlie',)
First Names of people with No Last Name -  ('Morris',)
First Names of people with No Last Name -  ('Sandy',)
First Names of people with No Last Name -  ('Hector',)
First Names of people with No Last Name -  ('Hiram',)
First Names of people with No Last Name -  ('Tressa',)
First Names of people with No Last Name -  ('Berry',)
First Names of people with No Last Name -  ('Pearline',)
First Names of people with No Last Name -  ('Maynard',)
First Names of people with No Last Name -  ('Dorian',)
First Names of people with No Last Name -  ('Mylene',)
First Names of people with No Last Name -  ('Lafayette',)
First Names of people with No Last Name -  ('Tara',)
First Names of people with No Last Name -  ('Destiny',)
First Names of people with No Last Name -  ('Lesly',)
First Names of people with No Last Name -  ('Perry',)
First Names of people with No Last Name -  ('Maritza',)
First Names of people with No Last Name -  ('Grant',)
First Names of people with No Last Name -  ('Laury',)
First Names of people with No Last Name -  ('Name',)
First Names of people with No Last Name -  ('Estefania',)
First Names of people with No Last Name -  ('Destiney',)
First Names of people with No Last Name -  ('Jaquelin',)
First Names of people with No Last Name -  ('Alfonzo',)
First Names of people with No Last Name -  ('Lisandro',)
First Names of people with No Last Name -  ('Priscilla',)
First Names of people with No Last Name -  ('Elenora',)
First Names of people with No Last Name -  ('Rudolph',)
First Names of people with No Last Name -  ('Ona',)
First Names of people with No Last Name -  ('Rebeca',)
First Names of people with No Last Name -  ('Sigurd',)
First Names of people with No Last Name -  ('Alice',)
First Names of people with No Last Name -  ('Dane',)
First Names of people with No Last Name -  ('Judge',)
First Names of people with No Last Name -  ('Allene',)
First Names of people with No Last Name -  ('Jalen',)
First Names of people with No Last Name -  ('Myron',)
First Names of people with No Last Name -  ('Travon',)
First Names of people with No Last Name -  ('Shayna',)
First Names of people with No Last Name -  ('Myah',)
First Names of people with No Last Name -  ('Letha',)
First Names of people with No Last Name -  ('Felton',)
First Names of people with No Last Name -  ('London',)
First Names of people with No Last Name -  ('Koby',)
First Names of people with No Last Name -  ('Golden',)
First Names of people with No Last Name -  ('Anissa',)
First Names of people with No Last Name -  ('Sid',)
First Names of people with No Last Name -  ('Ernesto',)
First Names of people with No Last Name -  ('Josianne',)

In [30]:
#more than one pet
c.execute("SELECT count(owner_id) FROM  pets GROUP BY owner_id HAVING count(owner_id) > 1")
print(c.fetchall())

# add up all the results from previous query
for result in c.execute("SELECT count(*) FROM (SELECT count(owner_id) FROM  pets GROUP BY owner_id HAVING count(owner_id) > 1)"):
    print("People Count with more than 1 PET -", result)
    break

[(3,), (3,), (2,), (3,), (2,), (3,), (2,), (2,), (2,), (2,), (2,), (3,), (2,), (3,), (2,), (5,), (2,), (2,), (3,), (3,), (3,), (4,), (2,), (2,), (4,), (3,), (3,), (2,), (2,), (2,), (3,), (3,), (2,), (5,), (3,), (2,), (3,), (3,), (2,), (2,), (3,), (3,), (2,)]
People Count with more than 1 PET - (43,)

In [31]:
#which have received treatments
c.execute("SELECT DISTINCT(treatment_done) FROM pets")
print(c.fetchall())
for result in c.execute("SELECT count(*) FROM pets WHERE treatment_done=1"):
    print("Count of Pets with treatment -", result)
    break

[(0,), (1,)]
Count of Pets with treatment - (36,)

In [32]:
#which have received treatments and type of pet is known
for result in c.execute("SELECT count(*) FROM pets WHERE treatment_done=1 AND pet_type is not null"):
    print("Count of Pets with treatment -", result)
    break

Count of Pets with treatment - (16,)

In [ ]:
#east port
or result in c.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id where persons.city='east port'"):
    print("Count of Pets from east port -", result)
    break

In [34]:
#treatments, city and how many
for result in c.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id where persons.city='east port' AND pets.treatment_done=1"):
    print("Count of Pets from east port -", result)
    break

Count of Pets from east port - (11,)